
h2{
  font-family: 'Play', bold;
  font-size: 3rem;
}

h3{
  font-family: 'Play', bold;
  color: black;
}

body{
 font-family: 'Poppins', sans-serif;
 text-align: center;
}

button{
  font-family: 'Play', sans-serif;
}

h4{
  font-size: 2rem;
}

p{
  color: #8f8f8f;
}

/* Title section */
.big-heading{
  font-family: 'Play', sans-serif;
  line-height: normal;
  font-size: 3.8rem;
  color: white;
}

#title{
  background-color: #004385;
}

.app{
  border-radius: 25px;
  transform: rotate(25deg);
  position: relative;
  left: 15%;
  top: 15%;
}

.intro-title{
  text-align: left;
}

@media (max-width: 760px){ /* for screen sizes 760px in width and below, make these changes */
  .app{
    position: static;
    transform: rotate(0);
  }

  #title{
    text-align: center;
  }
}


/* Navbar*/

.navbar{
  padding-bottom: 0rem;
}


.navbar-brand{
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-link{
  padding: 0 px;
}

#navbuttons{
  margin-left: 200%;
}

.container-fluid{
  padding: 2% 0% 7%;
}


/* Features/Pricing section */
#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.feature-box{
  padding: 5%;
}

.icon{
  color: #004385;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #274CC4;
}

.ranking{
  color: "black";
}

/* buttons */
.download-button{
  margin: 5% 3% 5% 0%
}

/* Testimonials Section */

#testimonials{
  background-color: #004385;
  color: #fff;
  padding-bottom: 0%;
  line-height: 1.5;
}

.tyler{
  height: 15%;
  width: 15%;
  margin: 20px;
  border-radius: 100%;
}

.ja{
  height: 15%;
  width: 15%;
  margin: 20px;
  border-radius: 100%;
}

.isaiah{
  height: 15%;
  width: 15%;
  margin: 20px;
  border-radius: 100%;
}

.player-detail{
  margin-top:5%;
  margin-bottom: 0;
}

#press{
  background-color: #004385;
  padding-bottom: 3%;
}

.press-logo{
  width: 10%;
  margin: 20px 20px 50px;
}

.carousel-item{
    padding: 7% 15%;
}

#pricing{
  padding: 150px;
}

.pricing-col{
  padding: 2% 3%;
}

/* Call to action */

#cta{
  padding: 7% 15%;
  background-color: #004385;
}

/* Footer section */
#footer{
  padding: 7% 15%;
}

.social-icon{
  margin: 20px 10px;
}
